<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form method="POST" action="/signup">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Name">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" placeholder="email">
        <label for="password">Name:</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit">Sign Up</button>
    </form>
    <p><a href="login">Log In</a></p>
</body>
</html>